Repository torch2424/wasmboy, pull requests merged in 2019-02, with the labels that each got.

#251 Created a Debugger Color Palette Viewer for GB / GBC
  core/constants.ts
  core/core.ts
  core/index.ts
  demo/debugger/commands/widgets/graphics.js
  demo/debugger/components/graphics/paletteViewer/paletteViewer.css
  demo/debugger/components/graphics/paletteViewer/paletteViewer.js
  demo/debugger/widgetManager.js
  dist/core/core.untouched.wasm
  dist/core/core.untouched.wast
  lib/debug/debug.js
  lib/index.js
  lib/wasmboy/wasmboy.js
  lib/wasmboy/worker/wasmboy.worker.js
  lib/worker/constants.js
Labels: Debugger, enhancement

#253 Fixed the benchmark because of the fetch object change
  core/portable/wasmMock.js
  demo/amp/index.js
  demo/benchmark/loadrom.js
  package.json
Labels: Benchmark, bug

#256 Fixed Memory Leak on Page Refresh
  lib/debug/debug.js
  lib/wasmboy/render.js
  lib/wasmboy/wasmboy.js
Labels: Debugger, Lib / JS, bug

#264 Optimization / Performance cleanup
  core/core.ts
  core/cpu/cbOpcodes.ts
  core/cpu/cpu.ts
  core/cpu/instructions.ts
  core/cycles.ts
  core/execute.ts
  core/graphics/backgroundWindow.ts
  core/graphics/colors.ts
  core/graphics/graphics.ts
  core/graphics/lcd.ts
  core/graphics/palette.ts
  core/graphics/priority.ts
  core/graphics/sprites.ts
  core/graphics/tiles.ts
  core/index.ts
  core/interrupts/interrupts.ts
  core/joypad/joypad.ts
  core/legacy.ts
  core/memory/banking.ts
  core/memory/dma.ts
  core/memory/load.ts
  core/memory/memory.ts
  core/portable/portable.ts
  core/serial/serial.ts
  core/sound/accumulator.ts
  core/sound/registers.ts
  core/sound/sound.ts
  core/timers/timers.ts
  demo/benchmark/loadrom.js
  demo/debugger/components/graphics/backgroundMap/backgroundMap.js
  demo/debugger/components/graphics/tileData/tileData.js
  dist/core/core.untouched.wasm
  dist/core/core.untouched.wast
  lib/graphics/graphics.js
  lib/graphics/worker/imageData.js
  lib/wasmboy/wasmboy.js
  lib/wasmboy/worker/audio/onmessage.js
  lib/wasmboy/worker/graphics/onmessage.js
  lib/wasmboy/worker/memory/onmessage.js
  lib/wasmboy/worker/update.js
  lib/wasmboy/worker/wasmboy.worker.js
  package-lock.json
  package.json
  rollup.getcore.js
  test/common-test.js
Labels: Benchmark, Core/Wasm, Lib / JS, enhancement

#266 Fixed screen blanking to no longer wipe all of graphics
  core/debug/breakpoints.ts
  core/graphics/lcd.ts
  core/graphics/palette.ts
  demo/debugger/components/graphics/paletteViewer/paletteViewer.js
  dist/core/core.untouched.wasm
  dist/core/core.untouched.wast
Labels: Core/Wasm, bug

#265 More performance improvments & refactorings
  core/core.ts
  core/cpu/cpu.ts
  core/cpu/flags.ts
  core/cpu/instructions.ts
  core/cpu/opcodes.ts
  core/cycles.ts
  core/execute.ts
  core/graphics/backgroundWindow.ts
  core/graphics/graphics.ts
  core/graphics/lcd.ts
  core/graphics/palette.ts
  core/graphics/priority.ts
  core/graphics/sprites.ts
  core/graphics/tiles.ts
  core/joypad/joypad.ts
  core/memory/banking.ts
  core/memory/dma.ts
  core/memory/load.ts
  core/memory/memory.ts
  core/memory/memoryMap.ts
  core/memory/readTraps.ts
  core/memory/store.ts
  core/memory/writeTraps.ts
  core/serial/serial.ts
  core/sound/accumulator.ts
  core/sound/channel1.ts
  core/sound/channel2.ts
  core/sound/channel3.ts
  core/sound/channel4.ts
  core/sound/registers.ts
  core/sound/sound.ts
  core/timers/timers.ts
  dist/core/core.untouched.wasm
  dist/core/core.untouched.wast
Labels: Core/Wasm, enhancement

#274 Added some more features to benchmarking App
  demo/benchmark/benchmarkResults.js
  demo/benchmark/benchmarkRunner.js
  demo/benchmark/binjgb/0.1.3/binjgb.js
  demo/benchmark/binjgb/0.1.3/binjgb.wasm
  demo/benchmark/binjgb/0.1.3/getcore.js
  demo/benchmark/gameboyOnline/GameBoyCore.js
  demo/benchmark/gameboyOnline/getcore.js
  demo/benchmark/index.css
  demo/benchmark/index.js
  demo/benchmark/loadrom.js
  rollup.amp.js
  rollup.benchmark.js
  rollup.debugger.js
  rollup.getcore.js
Labels: Benchmark, bug, enhancement

#276 Fixed and Improved the AMP Demo for WasmBoy
  demo/amp/index.html
  demo/amp/index.js
  demo/amp/pixelToSvg.js
  demo/amp/run60fps.js
  dist/core/core.untouched.wasm
  dist/core/core.untouched.wast
  package-lock.json
  package.json
  rollup.amp.js
Labels: bug, enhancement

#277 Fixes Audio from Sound Optimizations
  .travis.yml
  core/debug/debug-graphics.ts
  core/helpers/index.ts
  core/interrupts/interrupts.ts
  core/portable/importObject.js
  core/sound/channel1.ts
  core/sound/sound.ts
  lib/audio/gbchannel.js
  lib/worker/smartworker.js
  rollup.getcore.js
  test/accuracy/accuracy-test.js
  test/accuracy/goldenCompare.js
  test/accuracy/sound-test.golden.output.json
Labels: Core/Wasm, bug

#267 Added support for adding boot roms, and some other bugs
  core/constants.ts
  core/core.ts
  core/cpu/cpu.ts
  core/graphics/colors.ts
  core/graphics/graphics.ts
  core/graphics/palette.ts
  core/index.ts
  core/memory/dma.ts
  core/memory/memory.ts
  core/memory/memoryMap.ts
  core/memory/writeTraps.ts
  core/sound/channel1.ts
  core/sound/sound.ts
  core/timers/timers.ts
  demo/debugger/analytics.js
  demo/debugger/commands/open.js
  demo/debugger/components/playback/wasmboyOptions/wasmboyOptions.css
  demo/debugger/components/playback/wasmboyOptions/wasmboyOptions.js
  demo/debugger/loadBootROM.js
  demo/debugger/wasmboy.js
  docs/wasm/core.untouched.wasm
  docs/wasm/core.untouched.wast
  lib/audio/gbchannel.js
  lib/index.js
  lib/memory/memory.js
  lib/wasmboy/fetchrom.js
  lib/wasmboy/load.js
  lib/wasmboy/wasmboy.js
  lib/wasmboy/worker/memory/boot.js
  lib/wasmboy/worker/memory/onmessage.js
  lib/wasmboy/worker/wasmboy.worker.js
  lib/worker/constants.js
Labels: Core/Wasm, Debugger, Lib / JS, enhancement
